* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   -webkit-tap-highlight-color: transparent;
}

a {
   text-decoration: underline;
}

:root {
   --background: #050514;
   --primary: #4E4FEB;
   --secondary: #7272ec;
   --border-color: #a5a5c9b7;
   --txt-heading: #e6e6ff;
   --txt-sub-heading: #d0d0e6;
   --txt-normal: #c0c0ce;
   --placeholder: #c0c0ce80;
}

.main {
   height: 100vh;
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: center;
   background-color: var(--background);
   overflow-y: auto;
   overflow-x: hidden;
}

.center {
   max-width: 450px;
   width: 100%;
   padding: 0 0 130px 0;
}

.header {
   width: 100%;
   display: flex;
   margin: 12px 0;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.header>div svg {
   width: auto;
   height: 40px;
   margin: 10px 0 40px 0;
}

.dividerCtnr {
   display: flex;
   align-items: center;
   margin: 20px 0;
}

.dividerCtnr .left,
.dividerCtnr .right {
   width: 40%;
   border: 1px solid #D9DaDC;
}

.dividerCtnr>span {
   margin: auto;
   font-size: 14px;
   font-weight: 700;
}

.inputCtnr {
   display: flex;
   flex-direction: column;
   padding-bottom: 24px;
   font-size: 14px;
}

.inputCtnr>label,
.genderCtnr>label {
   font-weight: 700;
}

.inputCtnr>input {
   min-height: 52px;
   padding: 14px;
   font-size: 16;
   margin: 6px 0;
   outline: none;
   background-color: transparent;
   color: var(--txt-normal);
   border: 1px solid var(--border-color);
   border-radius: 12px;
}

.inputCtnr>input::placeholder {
   color: var(--placeholder);
}

.inputCtnr>input:hover,
.inputCtnr>input:focus {
   border: 2px solid var(--primary);
}

.inputCtnr label,
.signUpCtnr p,
.header h1,
.genderCtnr label,
.ctnrLogin p {
   color: var(--txt-heading);
}

.inputCtnr>a {
   color: var(--primary);
   cursor: pointer;
}

.checkBoxCtnr {
   display: flex;
   justify-content: space-between;
   margin-bottom: 26px;
}

.checkBoxCtnr>label {
   display: flex;
   height: fit-content;
   font-size: 12px;
   color: var(--txt-normal);
}

.checkBoxCtnr>label input {
   margin-right: 10px;
   accent-color: var(--primary);
}

.genderCtnr {
   display: flex;
   margin: 20px 0;
   font-size: 14px;
   flex-direction: column;
}

.genderCtnr>div {
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 14px;
   margin-top: 14px;
}

form,
.login {
   padding: 50px 0;
}

.checBoxCtnr {
   margin: 30px 0;
}

.checBoxCtnr>div {
   margin-top: 30px;
}

.checBoxCtnr>div input[type=checkbox],
.genderCtnr>div input[type=radio] {
   accent-color: var(--primary);
}

.links {
   text-align: center;
   font-size: 14px;
   font-weight: 500;
}

.links>div a,
.ctnrLogin>p a {
   color: var(--primary);
   cursor: pointer;
}

.links>div {
   margin-top: 20px;
}

.links>div {
   margin-top: 20px;
}

.btnDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.btnDiv button,
.btnLogin {
   background-color: var(--primary);
   border: none;
   height: 56px;
   font-weight: 700;
   border-radius: 28px;
   font-size: 16px;
   padding: 16px 48px;
   transition: all .1s ease;
   color: var(--txt-heading);
}

.btnLogin {
   height: 48px;
   padding: 14px 32px;
   font-size: 14px;
}

.btnDiv button:hover,
.btnLogin:hover {
   transform: scale(1.04);
}

.btnDiv button:hover,
.btnLogin:hover {
   outline: 3px solid black;
   border: 3px solid var(--background);
}

.ctnrLogin {
   text-align: center;
   margin-top: 30px;
}

.signUpCtnr {
   display: flex;
   padding: 20px 0;
   gap: 20px;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.signUpCtnr>p {
   font-size: 18px;
   font-weight: 700;
}

.signUpCtnr>a {
   width: 100%;
}

.signUpCtnr>a {
   font-size: 14px;
   color: var(--secondary);
   font-weight: 700;
   padding: 16px;
   border: 1.8px solid var(--primary);
   border-radius: 500px;
   text-decoration: none;
   text-align: center;
}





@media only screen and (max-width: 760px) {
   .AuthBtn {
      padding: 12px 18px;
      font-size: 14px;
      margin: 8px 0;
   }

}