/* Fonts */

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularSpotifyText-Light.woff2') format('woff2'),
        url('../fonts/CircularSpotifyText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Fonts End*/

:root {
    --background: #050514;
    --backgroundRGB: 5, 5, 20;
    --primary: #4E4FEB;
    --secondary: #7272ec;
    --border-color: #a5a5c9b7;
    --txt-heading: #e6e6ff;
    --txt-sub-heading: #d0d0e6;
    --txt-normal: #c0c0ce;
    --placeholder: #c0c0ce80;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Circular Std';
    transition: all .2s ease;
    -webkit-tap-highlight-color: transparent;
}

a:focus {
    color: var(--primary);
}

::selection {
    color: none;
    background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}


body {
    background-color: var(--background);
}

.mainDiv {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row-reverse;
}



/* Side NavigationBar Start */
.sidebar {
    background-color: var(--background);
    max-width: 240px;
    width: 17.5%;
}

.navLinkTop {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.navLinkTop .logo {
    width: fit-content;
    height: 40px;
}

.navItem,
.navItem2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: .7;
    margin: 8px 0;
    transition: all .2s ease-in-out;
}

.navItem a,
.navItem2 a {
    text-decoration: none;
    font-size: 14px;
    color: var(--txt-heading);
    font-weight: 600;
}

.navItem img,
.navItem i,
.navItem2 img,
.navItem2 i {
    fill: var(--txt-heading);
    margin-right: 16px;
}

.space {
    padding: 13px 0;
}

.navItem .createPlaylist,
.navItem .likedSongs,
.navItem2 .createPlaylist,
.navItem2 .likedSongs {
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 2px;
    margin-right: 14px;
}

.navItem2 .createPlaylist {
    background-color: var(--txt-heading);
}

.navItem2 .likedSongs {
    background-image: linear-gradient(135deg, #125e9c, #b75ee0);
}

.navItem:hover,
.navItem2:hover,
.sideBarActive {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.18);
    padding: 12px 16px;
    border-radius: 10px;
}

/* Side NavigationBar End */


/* Player Area Start */
.playerCtnr {
    display: flex;
    height: 90px;
    width: 100%;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
}

.songDetailsCtnr,
.controlerCtnr,
.volumeCtnr {
    display: flex;
    align-items: center;
    flex: 1;
}

.controlerCtnr {
    flex: 1.6;
    display: block;
}

.songDetailsCtnr img {
    height: 56px;
    width: 56px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.songDetailsCtnr .texts {
    padding: 0 14px;
}

.songDetailsCtnr .texts h3 {
    cursor: pointer;
    color: var(--txt-heading);
    font-weight: 400;
    font-size: 14px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songDetailsCtnr .texts h3:hover {
    text-decoration: underline;
}

.songDetailsCtnr .texts p {
    font-size: 11px;
    font-weight: 200;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerBtnLike,
.playerBtnPopup {
    cursor: pointer;
    opacity: .68;
    background: transparent;
    border: none;
    padding: 8px;
}

.playerBtnLike svg,
.playerBtnPopup svg,
.queueBtn svg {
    fill: white;
}

.controlerCtnr .btnsCtnr {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.ppbCtnr {
    display: flex;
    max-width: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ppbCtnr .playPauseBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    border-radius: 50%;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

.btnsCtnr img {
    cursor: pointer;
    opacity: .7;
    padding: 4px 10px;
}

.playPauseBtn img,
.btnsCtnr img:hover,
.playerBtnLike:hover,
.playerBtnPopup:hover {
    opacity: 1;
}


.progressCtnr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.progressCtnr .currentTime,
.progressCtnr .totalTime {
    min-width: 40px;
    font-size: 11px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.progressCtnr .currentTime {
    text-align: end;
}

.progressCtnr input[type="range"],
.volumeCtnr input[type="range"] {
    max-width: 600px;
    width: 70%;
    height: 4px;
    margin: 0 8px;
    accent-color: var(--primary);
    border-radius: 2px;
    outline: none;
    border: none;
}

.volumeCtnr input[type="range"] {
    border-radius: 2px;
    width: 93px;
}

.volumeCtnr {
    justify-content: end;
}

.volumeCtnr .queueBtn,
.volumeCtnr .muteBtn {
    display: flex;
    align-items: center;
    opacity: .7;
    padding: 4px 8px;
}

.volumeCtnr .queueBtn:hover,
.volumeCtnr .muteBtn:hover {
    opacity: 1;
}

.queueBtn {
    display: flex;
    align-items: center;
}

/* Player Area End */


/* Mobile Player Area Start */
.mobPlayer {
    height: 56px;
    display: none;
    padding: 0 8px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 12px 4px 12px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
}

.mobPlayer .songDetailsCtnr:nth-child(1),
.mobPlayer .mobRightBtns {
    display: flex;
}

.mobPlayer .songDetailsCtnr:nth-child(1) .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
}

.mobPlayer .songDetailsCtnr:nth-child(1) img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.mobPlayer .songDetailsCtnr:nth-child(1) h4 {
    color: var(--txt-heading);
    font-size: 13px;
    font-weight: 500;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobPlayer .songDetailsCtnr:nth-child(1) p {
    font-weight: 300;
    font-size: 12px;
    color: var(--txt-normal);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobPlayer .mobRightBtns button,
.mobPlayer .mobRightBtns .playPauseBtn {
    border: none;
    opacity: .8;
    padding: 2px 8px;
    background: transparent;
}

.mobPlayer .mobRightBtns button svg {
    fill: var(--txt-heading);
}

.mobPlayer .mobRightBtns img {
    filter: invert(1);
}

.mobPlayer .mobRightBtns button:hover {
    opacity: 1;
}

/* Mobile Player Area End */


/* Available Area Start */
.availArea {
    /*background: linear-gradient(162deg, rgba(33, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 50%);*/
    background: linear-gradient(144deg, rgba(12, 12, 31, 1) 0%, rgba(5, 5, 20, 1) 100%);
    width: 85.5%;
    height: auto;
    position: relative;
    overflow: overlay;
}

@-moz-document url-prefix() {
    .availArea {
        overflow: auto;
    }
}

/* Available Area End */



/* Top Navbar Start */
.nav {
    min-height: 64px;
    height: auto;
    width: 100%;
    background-color: rgba(var(--backgroundRGB), 0.8);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    z-index: 10;
    backdrop-filter: blur(12px);
}

.nav .arrowCtnr {
    display: flex;
}

.nav .arrowCtnr .left,
.nav .arrowCtnr .right {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 3.3px;
    border-radius: 24px;
    background-color: rgba(var(--backgroundRGB), 0.8);
}

.nav .arrowCtnr svg,
.nav .arrowCtnr svg {
    fill: var(--txt-heading);
    opacity: .6;
    padding: 1px;
}

.nav .arrowCtnr .left {
    margin-right: 17px;
}

.navBtns button {
    cursor: pointer;
    min-height: 48px;
    border: none;
    font-size: 16px;
    padding: 8px 32px;
    border-radius: 24px;
    background-color: transparent;
    color: var(--txt-heading);
    transition: all .2s ease-in-out;
}

.navBtns .whiteBG {
    color: var(--txt-heading);
    background-color: var(--primary);
}

.navBtns .whiteBG:hover {
    transform: scale(1.04);
}

.navBtns button:hover {
    color: white;
    transform: scale(1.04);
}

.navMenuCtnr {
    display: none;
}

#navMenuLinks {
    display: none;
    margin-top: 20px;
}

#navMenuLinks .navLink {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
}

#navMenuLinks .navLink h4 {
    font-size: 18px;
}

#navMenuLinks .navLink:hover {
    background-color: #ffffff50;
}

#navMenuLinks .navLink:hover.navLink h4 {
    color: #181818;
}


.nav .searchbar {
    display: none;
    margin-left: 22px;
    align-items: center;
    width: 364px;
    max-height: 40px;
    background-color: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(2px);
    padding: 12px;
    border-radius: 20px;
}

.nav .searchbar input {
    min-height: 36px;
    min-width: 300px;
    font-size: 14px;
    outline: none;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: var(--txt-heading);
    text-align: start;

}

::placeholder {
    color: var(--placeholder);
}

.nav .searchbar svg {
    fill: var(--txt-heading);
    opacity: .8;
    margin-right: 10px;
}

.navUName {
    display: flex;
    gap: 10px;
}

.navUName h3,
.navUName .logout {
    color: var(--txt-heading);
    padding: 6px 18px;
    background-color: var(--background);
    border-radius: 30px;
    transition: all ease .3s;
}

.navUName h3:hover,
.navUName .logout:hover {
    background-color: var(--secondary)
}


.navUName .logout {
    appearance: none;
    border: .4px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .3s;
}

.navUName .logout:hover {
    transform: scale(1.06);
}

.navUName .logout span {
    color: var(--txt-heading);
    margin-right: 12px;
}

.navUName .logout i {
    color: var(--txt-heading);
}

/* Top Navbar Start */



/* Content Area Start */
.contentCtnr {
    display: block;
    max-width: 1955px;
    padding: 20px 38px 100px 20px;
    z-index: 9;
}

/* Content Area End */














/* Harsh CSS Start */
.categoryCtnr {
    display: block;
    padding: 26px 0;
}

.catCardCtnr {
    display: grid;
    grid-row-gap: 25px;
    grid-column-gap: 15px;
    padding: 10px;
    --auto-grid-min-size: 190px;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.brAll {
    margin: 0 0 10px 10px;
    color: var(--txt-heading);
    font-size: 24px;
}

.catCard {
    background-position: 0% 0%;
    position: relative;
    height: 190px;
    width: 190px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 5px;
}

.catCard h3 {
    background-position: 0% 0%;
    color: var(--txt-heading);
    padding: 16px;
    top: 0px;
    left: 0;
    text-shadow: .8px .8px 2px #36363683;
    font-size: 21px;
}

.catCard img {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: -18px;
    margin-top: 6px;
    transform: rotate(22deg);
}






.parentCtnr {
    display: none;
    flex-wrap: wrap;
}

.cardCtnr div {
    display: flex;
}

.topResultCtnr {
    width: 33%;
    min-width: 300px;
}

.topResultCtnr h2 {
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 15px;
}

.cardCtnr {
    background-color: #ffffff08;
    height: 260px;
    width: 100%;
    padding: 20px;
    display: block;
    border-radius: 8px;
    position: relative;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.cardCtnr .play {
    width: 56px;
    height: 56px;
    background-color: #1db954;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    margin-bottom: -40px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all ease .4s;
}

.cardCtnr .play img {
    width: 24px;
    height: 24px;
    margin: auto;
    background-color: #1db954;
    border-radius: 50%;
}

.cardCtnr:hover .play {
    transform: translateY(0px);
    opacity: 1;
    margin-bottom: 20px;
}

.cardCtnr:hover {
    background-color: #ffffff23;
}


.cardCtnr img {
    background-color: #FFFFFF;
    height: 110px;
    width: 110px;
    border-radius: 8px;
}

.cardCtnr h1 {
    color: #FFFFFF;
    padding: 0 0 3px 0;
    margin-top: 28px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    color: #ffffffa8;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 20px;
    background-color: rgba(28, 28, 28, 0.4);
}

.songCtnr {
    margin-top: 25px;
    /* width: 67%; */
    flex-grow: 1;
    padding: 0 16px;
}

.songCtnr h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.songItem {
    display: flex;
    align-items: center;
    min-height: 56px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.imgCtnr {
    height: 40px;
    width: 40px;
    margin: 6px;
}

.imgCtnr img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.textCtnr {
    display: flex;
    width: 100%;
    margin: 6px;
    justify-content: space-between;
    align-items: center;
}

.textCtnr .left h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.textCtnr .left {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.textCtnr .left p {
    color: #ffffffa3;
    font-size: 14px;
    font-weight: 500;
}

.textCtnr .right {
    display: flex;
    gap: 3px;
}

.songItem:hover {
    background-color: #ffffff23;

}

.imgCtnr .play img {
    width: auto;
    height: auto;
    margin: 30px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 50%;
    right: 20px;
    top: -80px;
    padding: 18px;
    transform: translate(-50%);
    text-align: center;
    cursor: pointer;
}

.imgCtnr:hover .play {
    opacity: 1;
    margin-bottom: 5px;
    width: 10px;
    height: 10px;
}




/* Harsh CSS end */



/* Pulkit CSS Start */
/* :root {
    --color-body: #000000;
    --color-heading: #ffffff;
    --color-background: #252525;
    --color-p: #989898;
    --color-base: #1fdf64;
    --color-brand2: #181818;
    --color-bordor: #50505050;
} */

.spotify-playlist h2 {
    color: var(--txt-heading);
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.spotify-playlist .list {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-items: center;
    --auto-grid-min-size: 190px;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.spotify-playlist .list .item {
    min-width: 190px;
    width: 190px;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlist .list .item:hover {
    background-color: rgba(130, 130, 212, 0.3);

}

.spotify-playlist .list .item img {
    width: 100%;
    min-height: 162px;
    border-radius: 12px;
    margin-bottom: 6px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
}

.spotify-playlist .list .item .play {
    position: relative;
}

.spotify-playlist .list .item .play .fa {
    width: 52px;
    height: 52px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: -70px;
    padding: 18px;
    color: var(--txt-heading);
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlist .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlist .list .item>h4 {
    color: var(--txt-heading);
    font-size: 16px;
    margin: 6px 0 ;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlist .list .item>p {
    color: var(--txt-normal);
    opacity: .7;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Pulkit CSS End */


















@media only screen and (max-width: 760px) {

    .parentCtnr {
        display: none;
    }

    .mainDiv {
        height: 100vh;
        flex-direction: column;
        position: relative;
    }

    /* SideBar Area Start */
    .sidebar {
        background: linear-gradient(180deg, rgba(4, 4, 4, 0.10407913165266103) 0%,
                rgba(11, 11, 11, 0.5970763305322129) 35%,
                rgba(5, 5, 5, 0.804359243697479) 55%,
                rgba(18, 18, 18, 1) 75%);
        max-width: 100%;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .navLinkTop {
        padding: 16px;
        flex-direction: row;
        justify-content: space-between;
    }

    .navItem {
        display: flex;
        flex: 1;
        flex-direction: column;
        opacity: .7;
        margin: 0 2px;
        transition: all .2s ease-in-out;
    }

    .navItem a {
        font-size: 11px;
        text-align: center;
        margin-top: 6px;
    }

    .navItem img,
    .navItem svg {
        margin-right: 16px;
        display: block;
        margin: auto;
    }

    .space .navItem .createPlaylist,
    .navItem .likedSongs,
    .navItem2,
    .navLinkTop .logo {
        display: none;
    }

    .navItem:hover,
    .navItem2:hover,
    .sideBarActive {
        opacity: 1;
        background-color: transparent;
        padding: 0px 0px;
        border-radius: 0px;
    }

    .mobPlayer {
        display: flex;
    }

    /* SideBar Area End */


    /* Available Area Start */
    .availArea {
        width: 100%;
        height: 100vh;
        padding-bottom: 80px;
    }

    /* Available Area End */


    /* Top Navbar Start */
    .nav {
        height: auto;
        width: 100%;
        align-items: center;
        padding: 10px 32px;
    }

    .nav .arrowCtnr,
    .navBtns button {
        display: none;
    }

    .navMenuCtnr {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navMenu img {

        width: 104px;
    }

    .navMenu svg {
        fill: white;
        opacity: .90;
    }

    .navUName {
        display: none;
    }

    /* Top Navbar End */


    /* Content Area Start */
    .contentCtnr {
        padding: 10px 10px 100px 10px;
    }

    /* Content Area End */


    /* Custom Scrollbar Start */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Custom Scrollbar End */

    /* Main Player End */
    .playerCtnr {
        display: none;
    }

    /* Main Player End */



    /* Harsh */

    .catCardCtnr,
    .spotify-playlist .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .brAll {
        font-size: 16px;
    }

    .catCard {
        height: 140px;
        width: 140px;
        margin: 5px;
    }

    .catCard h3 {
        padding: 8px;
        font-size: 16px;
    }

    .catCard img {
        height: 70px;
        width: 70px;
    }

    /* Harsh */




    /* Pulkit CSS Start */

    .spotify-playlist h2 {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .spotify-playlist .list .item {
        min-width: 146px;
        width: 146px;
        padding: 8px;
    }

    /* Pulkit CSS End */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1024px) {
    .navLinkTop .logo {
        width: fit-content;
        height: 28px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}



/* Custom Scrollbar Start */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.28);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.48);
}

/* Custom Scrollbar End */




/* Balram Area Starts */

.noListCtnr {
    width: 100%;
    gap: 34px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 44px;
}

#musicimage {
    height: 64px;
    width: 64px;
    cursor: pointer;
    fill: white;
}

.musiclist {
    color: white;
    margin-top: 6px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.musiclist2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: normal;
}

.musiclistbutton {
    height: 48px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 30px;
    background-color: white;
}

.musiclistbutton:hover {
    transform: scale(1.06);
}




.availListCtnr {
    display: none;
}

.libraryArea {
    width: 100%;
    gap: 20px;
    display: flex;
}

.textplaylistsbd {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 21px;
}

.likedArea {
    height: 260px;
    max-width: 390px;
    width: 100%;
    background-image: linear-gradient(135deg, #450af5 0%, #c4efd9 150%);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.textLiked {
    position: relative;
    top: 160px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 34px;
}

.textLikedStatus {
    position: relative;
    top: 170px;
    left: 20px;
    color: rgb(234, 225, 225);
    font-size: 18px;
    font-weight: normal;
}

.buttonPlay {
    height: 48px;
    width: 48px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    border-radius: 24px;
    background-color: rgb(55, 182, 55);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    opacity: 0;
    margin-bottom: -14px;
    transition: translate .2s ease-in-out, opacity .4 linear;
}

.likedArea:hover .buttonPlay {
    opacity: 1;
    transform: translateY(-10px);
}


.playlistArea {
    height: 260px;
    width: 185px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.1);
    border-radius: 4px;
}


.playlistImage {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 56, 56);
    border-radius: 4px;
    box-shadow: 0px 4px 12px #181818;
}

#imagemusiciconbd {
    height: 89px;
    width: 92px;
    fill: rgb(153, 149, 149);
}

.myPlaylistTextCtnr {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.textmyplay {
    color: white;
    font-size: 16px;
}


.textmyplaybdd {
    color: rgb(167, 167, 167);
    font-size: 14px;
    margin-top: 8px;
    font-weight: normal;
}

@media only screen and (max-width: 760px) {
    .libraryArea {
        flex-direction: column;
    }
}

/* Balram area ends */


/* pukit shimmer start*/

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}

.animated-background,
.animated-title {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(90deg,
            rgba(99, 99, 99, 0.1) 0%,
            rgba(155, 155, 155, 0.33) 50%,
            rgba(99, 99, 99, 0.1) 100%);
    background-size: 640px 320px;
    height: 160px;
    width: 160px;
    min-width: 160px;
    border-radius: 6px;
}

.animated-title {
    height: 40px;
    width: 300px;
    margin: 30px 0 20px 0;
}

.spotify-playlist-sh .list {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    --auto-grid-min-size: 160px;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.spotify-playlist-sh .list .main-item {
    min-width: 160px;
    width: fit-content;
    height: 160px;
    background-color: var(--color-);
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}



@media only screen and (max-width: 760px) {
    .animated-background {
        height: 120px;
        width: 120px;
        min-width: 120px;
    }

    .animated-title {
        height: 30px;
        width: 200px;
        margin: 30px 0 20px 0;
    }

    .spotify-playlist-sh .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .spotify-playlist-sh .list .main-item {
        min-width: 120px;
        height: 120px;
    }

}

/* pulkit shimmer end */




/* Panbihar CSS Start */

.parent {
    overflow-x: hidden;
    margin: -90px -38px -20px -20px;
}


/* TOP HEAD CSS */

.tophead {
    padding: 30px;
    min-height: 55vh;
    width: 100%;
    background-image: url("../assets/img/hhi.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.tophead .ctnr {
    position: absolute;
    bottom: 26px;
}

.tophead p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tophead .title {
    font-size: 5em;
    color: white;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tophead .subtitle {
    color: rgba(226, 226, 226, 0.7);
    text-shadow: 0 .2px 2px rgba(48, 48, 48, 0.6);
    font-family: 'Hind', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 12px 0;
}


/* body CSS */

.playlistNavbar {
    display: flex;
    min-height: 12vh;
    width: 100%;
    background-image: linear-gradient(180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0.2) 40%,
            rgba(255, 255, 255, 0.05) 80%,
            rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px 30px 30px;
    gap: 30px;
}

.playlistNavbar .pausegreen {
    display: flex;
    background-color: #1fdf64;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.playlistNavbar .pausegreen img {
    width: 22px;
}

.playlistNavbar .pausegreen:active {
    opacity: .6;
}

.playlistNavbar .like,
.playlistNavbar .options {
    height: 32px;
    width: 32px;
    fill: white;
    margin: 0 8px;
    cursor: pointer;
    opacity: .6;
}

.playlistNavbar .like:hover,
.playlistNavbar .options:hover {
    opacity: 1;
}

/* table start */

.tableCtnr {
    padding: 20px 33px 20px 20px;
}

.tableCtnr .tableList {
    border-collapse: collapse;
    /* padding:auto; */
    font-size: 15px;
    width: 100%;
    text-align: left;
}

th>p {
    margin-left: 70px;
}

tr:hover {
    background-color: rgba(237, 237, 237, 0.1);
    cursor: pointer;
}

thead tr:hover {
    cursor: auto;
    background-color: transparent;
}

.tableList tbody .img {
    height: 40px;
    width: 40px;
    align-self: center;
    overflow: hidden;
}

.time {
    width: 16px;
    height: auto;
    fill: white;
    opacity: .6;
}

.tableList th {
    padding: 3px 20px 20px 0px;
}

.tableList tr {
    border-spacing: 20px 15px;
}

.title {
    display: flex;
}

.number {
    margin: auto 10px;
    color: rgb(107, 107, 107);
    margin: auto 20px auto 40px;
}

.songdetails {
    margin: 15px;
}

.songname {
    color: white;
    font-size: 16px;
}

/* Mobile NotSpotify */


@media only screen and (max-width: 760px) {

    .tophead {
        height: 40vh;
    }

    .tophead .title {
        font-size: 3em;
    }

    .parent {
        margin-right: -10px;
    }

    .tableList thead tr .dateadded {
        display: none;
    }

    .tableList thead tr .thtime {
        display: none;
    }

    .number {
        margin-right: 10px;
    }

    .tableList th {
        padding: 3px 20px 20px 0px;
    }

    .tableList tr {
        border-spacing: 20px 15px;
    }

    .title {
        display: flex;
    }

    .title img {
        display: none;
    }

    .playlistNavbar {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    thead {
        display: none;
    }

    .albumname {
        display: none;
    }

    .time {
        display: none;
    }

    .number {
        margin: 20px;
    }

    .dateadded {
        display: none;
    }

}


/* Panbihar CSS End */


/* Balram Area Starts */

.contentCtnr2 {
    margin: -20px -38px -20px -20px;
}

.contentCtnr2 .main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(83, 59, 160, 1) -40%, rgba(83, 59, 160, 0.7) -10%, rgba(255, 255, 255, 0) 100%);
}

.contentCtnr2 .main .item1 {
    /* background: linear-gradient(#1b0627e5, #540181); */
    background: linear-gradient(180deg, rgba(83, 59, 160, 1) 0%, rgba(83, 59, 160, 0.7) 76%);
    width: 100%;
    display: flex;
}

.contentCtnr2 .main .item1 .buttonbd {
    height: 232px;
    width: 232px;
    background: linear-gradient(135deg, rgba(95, 86, 228, 1) 0%, rgba(81, 214, 134, 0.493) 110%);
    display: flex;
    margin: 20px;
    padding: 10px;
    border: none;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 6px 16px #18181883;
    cursor: pointer;
    outline: none;
}

.contentCtnr2 .main .item1 .buttonbd svg {
    height: 93px;
    width: 91px;
    position: relative;
    top: 5px;
    left: 64px;
    fill: #fefbfb;
}

.contentCtnr2 .main .item1 .child {
    display: flex;
    flex: content;
    justify-items: center;
    align-items: center;
    left: 10px;
}

.contentCtnr2 .main .item1 .rightheadingbd {
    display: grid;
    margin-left: 38px;
    margin-bottom: 31px;
}

.contentCtnr2 .main .item1 .rightheadingbd h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.contentCtnr2 .main .item1 .rightheadingbd h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
}

.contentCtnr2 .main .item1 .rightheadingbd a {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.contentCtnr2 .main .item2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contentCtnr2 .main .item2 .child2 {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    background-color: linear-gradient(#1b0627e5, #540181);
}

.contentCtnr2 .main .item2 .child2 .comment #musicimage {
    align-items: center;
    height: 93px;
    width: 91px;
    fill: #fefbfb;
}

.contentCtnr2 .main .item2 .child2 .comment .h1 {
    font-size: 24px;
    color: #FFFFFF;
}

.contentCtnr2 .main .item2 .child2 .comment .h3 {
    size: 8px;
    color: #FFFFFF;
}

.contentCtnr2 .main .item2 .child2 .comment .find {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    border-radius: 24px;
    height: 48px;
    border: none;
    outline: none;
    width: 145px;
    padding: 8px, 32px;
    box-sizing: border-box;
    transition: all .4s ease;
}

.contentCtnr2 .main .item2 .child2 .comment .find:hover {
    transform: scale(1.04);
}


@media only screen and (max-width: 760px) {
    .contentCtnr2 {
        margin: -10px;
    }

    .contentCtnr2 .main {
        display: block;
    }

    .contentCtnr2 .main .item1 {
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .contentCtnr2 .main .item1 .rightheadingbd h2,
    .contentCtnr2 .main .item1 .rightheadingbd a {
        font-size: 14px;
    }

    .contentCtnr2 .main .item1 .rightheadingbd h1 {
        font-size: 32px;
    }

    /*  .contentCtnr2 .main .item2 .child2 .comment #musicimage {
        align-items: center;
        height: auto;
        width: auto;
        fill: #fefbfb;
    } */

    .contentCtnr2 .main .item2 .child2 .comment .h1 {
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
    }

    .contentCtnr2 .main .item2 .child2 .comment .h3 {
        font-size: 16px;
        color: #FFFFFF;
    }

    .contentCtnr2 .main .item2 .child2 .comment .find {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #000000;
        transform: matrix(1.04, 0, 0, 1.04, 0, 0);
        border-top-left-radius: 250px;
        border-top-right-radius: 250px;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        height: 48px;
        width: 143.766px;
        padding: 8px, 32px;
        box-sizing: border-box;
    }

    .contentCtnr2 .main .item1 .child {
        display: flex;
        flex: content;
        justify-items: flex-start;
        align-items: flex-end;
        left: 10px;
        width: 100%;
    }
}


/* Balram area ends */



/* loader */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: none;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader */