* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
}


body {
    background-color: rgb(30, 30, 30);
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
}


/* Side NavigationBar Start */
.sidebar {
    background-color: black;
    max-width: 240px;
    width: 17.5%;
}

.navLinkTop {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.navLinkTop .logo {
    width: fit-content;
    height: 40px;
}

.navItem {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.navItem a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 700;
}

.navItem img {
    color: white;
    margin-right: 14px;
}

.navItem a:hover {
    color: white;
}

.space {
    padding: 13px 0;
}

.navItem .createPlaylist {
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.70);
    margin-right: 14px;
}

.navItem .likedSongs {
    width: 24px;
    height: 24px;
    padding: 6px;
    background-image: linear-gradient();
    margin-right: 14px;
}

/* Side NavigationBar End */


/* Available Area Start */
.availArea {
    background-color: rgb(30, 30, 30);
    width: 85.5%;
    height: auto;
    position: relative;
    overflow: overlay;
}

/* Available Area End */


/* Top Navbar Start */
.nav {
    height: 64px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Top Navbar Start */


/* Content Area Start */
.contentCtnr {
    max-width: 1955px;
    padding: 20px 38px 20px 20px;
}

.contentCtnr p {
    text-align: justify;
}

/* Content Area End */




/* Custom Scrollbar Start */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.28);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.48);
}

/* Custom Scrollbar End */